.MatchPage {
    display: grid;
    grid-template-columns: 1fr;

    .match-page-sidebar {
        grid-column: span 1;
        position: fixed;
        margin-left: -4em;
    }

    .match-page-header {
        margin-bottom: .5em;
    }

    .match-detail-container {
        background-color: #121919;
        margin: .4em 0;
        padding: .4em;
        border-radius: 4px;

        &:hover {
            transform: scale(1.01);
        }
    }
}