@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1em auto;
  font-family: 'Crimson Text', sans-serif;
  max-width: 800px;
  background-color: #080B09;
  color: white;
  font-size: 1.3rem;
}

a {
    color: rgb(230, 226, 40);
    text-decoration: none;
}
